@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #1c1a1a;
}

/* nav */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-image: url(https://cdn.discordapp.com/attachments/1064356753338286101/1077383861622816828/eb2e706235473ef2a6b358a89b65a504a0f43b2c.jpg);
  color: #fff;
  font-size: 40px;
  padding: 0 20px;
  font-weight: bold;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  position: relative;
  transition: opacity all 300ms ease;
}

.navbar__link:after{
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
  background-color: white;
}

.navbar__link:hover::after{
    width: 100%;
    left: 0;
}

.search__bar {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.navbar__search-bar{
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
}

.fa {
  font-size: 20px;
  margin-right: 10px;
  color: #333;
  cursor: pointer;
}

.contact{
  cursor: not-allowed;
}

/* game */

main{
  margin-top: 56px;
}


.game__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.game__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 30%;
  max-width: 400px;
  margin-left: 24px;
  margin-bottom: 24px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  
}


.game__card:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.game__title {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-top: 12px;
}

.game__info--wrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.game__rating {
  display: inline-block;
  color: white;
  background-color: #7bbd30;
  border-radius: 9999px;
  padding: 4px 8px;
  font-size: 24px;
  margin-right: 4px;
}

.game__count {
  font-size: 20px;
  color: #7bbd30;
  font-weight: bold;
  max-width: 300px;
}

.game__saving {
  font-size: 16px;
  color: #7bbd30;
  margin-top: 12px;
}

.game__price {
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.game__price--normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: #888;
  font-size: 24px;
  opacity: 0.7;
  margin-right: 8px;
}

.game__price--sale {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-right: 8px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #7bbd30;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}


/* media */

@media(max-width: 1150px){
  .navbar__link{
    font-size: 24px;
  }
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
  
  .navbar__left {
    margin-bottom: 20px;
  }
  
  .navbar__link {
    display: block;
    margin-bottom: 10px;
  }
  
  .navbar__right {
    display: none;
  }
  
  .navbar__hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }
  
  .navbar__menu {
    display: none;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .navbar__menu--show {
    display: flex;
  }
  
  .navbar__menu-link {
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
  }
}
  #filter {
    margin: 10px 0 20px 0;
  }

  .game__card {
    width: 100%;
    margin-right: 0;
  }

  
@media (max-width: 479px) {
  .navbar {
    height: 60px;
    font-size: 24px;
  }

  .navbar__left {
    font-size: 28px;
  }

  .navbar__right {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__link {
    margin-right: 0;
    margin-bottom: 0;
    font-size: 16px;
  }

  .search__bar {
    height: 30px;
    margin-top: 5px;
  }

  .navbar__search-bar {
    width: calc(100% - 40px);
    font-size: 12px;
  }

  .fa {
    font-size: 16px;
  }

  .game__card {
    width: 100%;
    margin-right: 0;
  }
}